<div class="text-gray-700 bg-gray-300 border border-gray-500 rounded-2xl p-4">
  <div class="text-xl font-semibold mb-2">
    Order for client: {{ clientOrder.clientName }}
  </div>
  <div class="text-lg">
    <p>Total price: {{ clientOrder.order.totalPrice }} UAH</p>
    <p>Order stage: {{ clientOrder.order.orderState | enumToStr }}</p>
    <p>Order mode: {{ clientOrder.order.orderMode | enumToStr }}</p>
  </div>
  <div class="my-2 border border-gray-200"></div>
  <div class="flex flex-col gap-2">
    <div
      class="flex gap-2 items-center"
      *ngFor="let pizza of clientOrder.order.pizzas"
    >
      <div>
        <img
          alt="pizza"
          class="w-24 h-24"
          [src]="'../../../../assets/' + pizzaImg[pizza.pizzaType]"
        />
      </div>
      <div class="text-lg">
        <p>Time to create: {{ pizza.timeToCreate }} sec</p>
        <p>Price: {{ pizza.price }} UAH</p>
        <p>Stage: {{ pizza.pizzaState | enumToStr | uppercase }}</p>
        <p>Started at: {{ pizza.cookingStartTime }}</p>
        <p>Finished at: {{ pizza.cookingEndTime }}</p>
      </div>
    </div>
  </div>
</div>
